.weather-dashboard {
  padding-top: 50px;
  display: flex;
  gap: 20px;
  width: 90%;
  margin-left: 5%;
}

.hourly-chart {
  flex: 2;
}

.hourly-chart h2 {
  text-align: left;
}

.daily-forecast {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 500px;
}

.daily-forecast-card {
  background-color: lightgray;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 25px;
  padding: 5px;
  max-height: 45px;
  margin-top: 5px;
}

.daily-forecast-card img {
  width: 40px;
}

.daily-forecast h2 {
  text-align: left;
}