.react-calendar {
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    line-height:  1.125em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}

.react-calendar__navigation button {
    min-width: 44px;
    height: 60px;
    font-size: 24px;
    background: none;
}

.react-calendar__navigation button:disabled {
    background-color: white;
}

.react-calendar__navigation button:enabled:hover {
    background-color: lightgrey;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em 0;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 10px 0;
    background: none;
    text-align: center;
    line-height: 16px;
    font-size: 15px;
}

.react-calendar__tile:disabled {
    background-color: white;
}
.react-calendar__tile:enabled:hover{
    background-color: lightgrey;
}

.react-calendar__tile--now {
    background: yellow;
}

.react-calendar__tile--active {
    background: purple;
}

.event-dot {
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
  margin: 2px auto 0;
}